# Static tuning

In [1]:
import glob
import itertools
from pathlib import Path

import matplotlib.pyplot as plt
import pandas as pd
from scipy import stats
import tomli

In [2]:
DATA_DIR = Path("data/")

In [11]:
def res2data(where: Path):
    with open(where, "r") as fh:
        data = fh.readlines()
    
    seed = int(where.name.removesuffix(".txt"))

    # Only rows with instance names (we use GH200 and GH400).
    data = [row for row in data if "_2_" in row or "_4_" in row]
    rows = [datum.strip().split() for datum in data]

    return [
        (inst, seed, float(cost), int(iters))
        for inst, feas, cost, iters, time in rows
    ]

def get_size(instance: str):
    return 200 if "_2_" in instance else 400

def read(group: str, exp: int):
    instances = DATA_DIR.glob(f"{group}/{exp}.txt")
    records = itertools.chain.from_iterable([res2data(inst) for inst in instances])

    df = pd.DataFrame(records, columns=["instance", "seed", "cost", "iters"])
    df["exp"] = exp
    df["size_group"] = df["instance"].apply(get_size)

    with open(DATA_DIR / f"{group}/{exp}.toml", "rb") as fh:
        config = tomli.load(fh)

    for param, value in config[group].items():
        df[param] = value

    # Ignore scenarios with infeasible solutions.
    if df['cost'].mean() > 1_000_000:
        return pd.DataFrame()
        
    return df

## Population parameters

In [13]:
dfs = [read("population", exp) for exp in range(1, 501)]
df = pd.concat(dfs)
df.head()

data/population/1.txt
data/population/2.txt
data/population/3.txt
data/population/4.txt
data/population/5.txt
data/population/6.txt
data/population/7.txt
data/population/8.txt
data/population/9.txt
data/population/10.txt
data/population/11.txt
data/population/12.txt
data/population/13.txt
data/population/14.txt
data/population/15.txt
data/population/16.txt
data/population/17.txt
data/population/18.txt
data/population/19.txt
data/population/20.txt
data/population/21.txt
data/population/22.txt
data/population/23.txt
data/population/24.txt
data/population/25.txt
data/population/26.txt
data/population/27.txt
data/population/28.txt
data/population/29.txt
data/population/30.txt
data/population/31.txt
data/population/32.txt
data/population/33.txt
data/population/34.txt
data/population/35.txt
data/population/36.txt
data/population/37.txt
data/population/38.txt
data/population/39.txt
data/population/40.txt
data/population/41.txt
data/population/42.txt
data/population/43.txt
data/population/44.txt
data/population/45.txt
data/population/46.txt
data/population/47.txt
data/population/48.txt
data/population/49.txt
data/population/50.txt
data/population/51.txt
data/population/52.txt
data/population/53.txt
data/population/54.txt
data/population/55.txt
data/population/56.txt
data/population/57.txt
data/population/58.txt
data/population/59.txt
data/population/60.txt
data/population/61.txt
data/population/62.txt
data/population/63.txt
data/population/64.txt
data/population/65.txt
data/population/66.txt
data/population/67.txt
data/population/68.txt
data/population/69.txt
data/population/70.txt
data/population/71.txt
data/population/72.txt
data/population/73.txt
data/population/74.txt
data/population/75.txt
data/population/76.txt
data/population/77.txt
data/population/78.txt
data/population/79.txt
data/population/80.txt
data/population/81.txt
data/population/82.txt
data/population/83.txt
data/population/84.txt
data/population/85.txt
data/population/86.txt
data/population/87.txt
data/population/88.txt
data/population/89.txt
data/population/90.txt
data/population/91.txt
data/population/92.txt
data/population/93.txt
data/population/94.txt
data/population/95.txt
data/population/96.txt
data/population/97.txt
data/population/98.txt
data/population/99.txt
data/population/100.txt
data/population/101.txt
data/population/102.txt
data/population/103.txt
data/population/104.txt
data/population/105.txt
data/population/106.txt
data/population/107.txt
data/population/108.txt
data/population/109.txt
data/population/110.txt
data/population/111.txt
data/population/112.txt
data/population/113.txt
data/population/114.txt
data/population/115.txt
data/population/116.txt
data/population/117.txt
data/population/118.txt
data/population/119.txt
data/population/120.txt
data/population/121.txt
data/population/122.txt
data/population/123.txt
data/population/124.txt
data/population/125.txt
data/population/126.txt
data/population/127.txt
data/population/128.txt
data/population/129.txt
data/population/130.txt
data/population/131.txt
data/population/132.txt
data/population/133.txt
data/population/134.txt
data/population/135.txt
data/population/136.txt
data/population/137.txt
data/population/138.txt
data/population/139.txt
data/population/140.txt
data/population/141.txt
data/population/142.txt
data/population/143.txt
data/population/144.txt
data/population/145.txt
data/population/146.txt
data/population/147.txt
data/population/148.txt
data/population/149.txt
data/population/150.txt
data/population/151.txt
data/population/152.txt
data/population/153.txt
data/population/154.txt
data/population/155.txt
data/population/156.txt
data/population/157.txt
data/population/158.txt
data/population/159.txt
data/population/160.txt
data/population/161.txt
data/population/162.txt
data/population/163.txt
data/population/164.txt
data/population/165.txt
data/population/166.txt
data/population/167.txt
data/population/168.txt
data/population/169.txt
data/population/170.txt
data/population/171.txt
data/population/172.txt
data/population/173.txt
data/population/174.txt
data/population/175.txt
data/population/176.txt
data/population/177.txt
data/population/178.txt
data/population/179.txt
data/population/180.txt
data/population/181.txt
data/population/182.txt
data/population/183.txt
data/population/184.txt
data/population/185.txt
data/population/186.txt
data/population/187.txt
data/population/188.txt
data/population/189.txt
data/population/190.txt
data/population/191.txt
data/population/192.txt
data/population/193.txt
data/population/194.txt
data/population/195.txt
data/population/196.txt
data/population/197.txt
data/population/198.txt
data/population/199.txt
data/population/200.txt
data/population/201.txt
data/population/202.txt
data/population/203.txt
data/population/204.txt
data/population/205.txt
data/population/206.txt
data/population/207.txt
data/population/208.txt
data/population/209.txt
data/population/210.txt
data/population/211.txt
data/population/212.txt
data/population/213.txt
data/population/214.txt
data/population/215.txt
data/population/216.txt
data/population/217.txt
data/population/218.txt
data/population/219.txt
data/population/220.txt
data/population/221.txt
data/population/222.txt
data/population/223.txt
data/population/224.txt
data/population/225.txt
data/population/226.txt
data/population/227.txt
data/population/228.txt
data/population/229.txt
data/population/230.txt
data/population/231.txt
data/population/232.txt
data/population/233.txt
data/population/234.txt
data/population/235.txt
data/population/236.txt
data/population/237.txt
data/population/238.txt
data/population/239.txt
data/population/240.txt
data/population/241.txt
data/population/242.txt
data/population/243.txt
data/population/244.txt
data/population/245.txt
data/population/246.txt
data/population/247.txt
data/population/248.txt
data/population/249.txt
data/population/250.txt
data/population/251.txt
data/population/252.txt
data/population/253.txt
data/population/254.txt
data/population/255.txt
data/population/256.txt
data/population/257.txt
data/population/258.txt
data/population/259.txt
data/population/260.txt
data/population/261.txt
data/population/262.txt
data/population/263.txt
data/population/264.txt
data/population/265.txt
data/population/266.txt
data/population/267.txt
data/population/268.txt
data/population/269.txt
data/population/270.txt
data/population/271.txt
data/population/272.txt
data/population/273.txt
data/population/274.txt
data/population/275.txt
data/population/276.txt
data/population/277.txt
data/population/278.txt
data/population/279.txt
data/population/280.txt
data/population/281.txt
data/population/282.txt
data/population/283.txt
data/population/284.txt
data/population/285.txt
data/population/286.txt
data/population/287.txt
data/population/288.txt
data/population/289.txt
data/population/290.txt
data/population/291.txt
data/population/292.txt
data/population/293.txt
data/population/294.txt
data/population/295.txt
data/population/296.txt
data/population/297.txt
data/population/298.txt
data/population/299.txt
data/population/300.txt
data/population/301.txt
data/population/302.txt
data/population/303.txt
data/population/304.txt
data/population/305.txt
data/population/306.txt
data/population/307.txt
data/population/308.txt
data/population/309.txt
data/population/310.txt
data/population/311.txt
data/population/312.txt
data/population/313.txt
data/population/314.txt
data/population/315.txt
data/population/316.txt
data/population/317.txt
data/population/318.txt
data/population/319.txt
data/population/320.txt
data/population/321.txt
data/population/322.txt
data/population/323.txt
data/population/324.txt
data/population/325.txt
data/population/326.txt
data/population/327.txt
data/population/328.txt
data/population/329.txt
data/population/330.txt
data/population/331.txt
data/population/332.txt
data/population/333.txt
data/population/334.txt
data/population/335.txt
data/population/336.txt
data/population/337.txt
data/population/338.txt
data/population/339.txt
data/population/340.txt
data/population/341.txt
data/population/342.txt
data/population/343.txt
data/population/344.txt
data/population/345.txt
data/population/346.txt
data/population/347.txt
data/population/348.txt
data/population/349.txt
data/population/350.txt
data/population/351.txt
data/population/352.txt
data/population/353.txt
data/population/354.txt
data/population/355.txt
data/population/356.txt
data/population/357.txt
data/population/358.txt
data/population/359.txt
data/population/360.txt
data/population/361.txt
data/population/362.txt
data/population/363.txt
data/population/364.txt
data/population/365.txt
data/population/366.txt
data/population/367.txt
data/population/368.txt
data/population/369.txt
data/population/370.txt
data/population/371.txt
data/population/372.txt
data/population/373.txt
data/population/374.txt
data/population/375.txt
data/population/376.txt
data/population/377.txt
data/population/378.txt
data/population/379.txt
data/population/380.txt
data/population/381.txt
data/population/382.txt
data/population/383.txt
data/population/384.txt
data/population/385.txt
data/population/386.txt
data/population/387.txt
data/population/388.txt
data/population/389.txt
data/population/390.txt
data/population/391.txt
data/population/392.txt
data/population/393.txt
data/population/394.txt
data/population/395.txt
data/population/396.txt
data/population/397.txt
data/population/398.txt
data/population/399.txt
data/population/400.txt
data/population/401.txt
data/population/402.txt
data/population/403.txt
data/population/404.txt
data/population/405.txt
data/population/406.txt
data/population/407.txt
data/population/408.txt
data/population/409.txt
data/population/410.txt
data/population/411.txt
data/population/412.txt
data/population/413.txt
data/population/414.txt
data/population/415.txt
data/population/416.txt
data/population/417.txt
data/population/418.txt
data/population/419.txt
data/population/420.txt
data/population/421.txt
data/population/422.txt
data/population/423.txt
data/population/424.txt
data/population/425.txt
data/population/426.txt
data/population/427.txt
data/population/428.txt
data/population/429.txt
data/population/430.txt
data/population/431.txt
data/population/432.txt
data/population/433.txt
data/population/434.txt
data/population/435.txt
data/population/436.txt
data/population/437.txt
data/population/438.txt
data/population/439.txt
data/population/440.txt
data/population/441.txt
data/population/442.txt
data/population/443.txt
data/population/444.txt
data/population/445.txt
data/population/446.txt
data/population/447.txt
data/population/448.txt
data/population/449.txt
data/population/450.txt
data/population/451.txt
data/population/452.txt
data/population/453.txt
data/population/454.txt
data/population/455.txt
data/population/456.txt
data/population/457.txt
data/population/458.txt
data/population/459.txt
data/population/460.txt
data/population/461.txt
data/population/462.txt
data/population/463.txt
data/population/464.txt
data/population/465.txt
data/population/466.txt
data/population/467.txt
data/population/468.txt
data/population/469.txt
data/population/470.txt
data/population/471.txt
data/population/472.txt
data/population/473.txt
data/population/474.txt
data/population/475.txt
data/population/476.txt
data/population/477.txt
data/population/478.txt
data/population/479.txt
data/population/480.txt
data/population/481.txt
data/population/482.txt
data/population/483.txt
data/population/484.txt
data/population/485.txt
data/population/486.txt
data/population/487.txt
data/population/488.txt
data/population/489.txt
data/population/490.txt
data/population/491.txt
data/population/492.txt
data/population/493.txt
data/population/494.txt
data/population/495.txt
data/population/496.txt
data/population/497.txt
data/population/498.txt
data/population/499.txt
data/population/500.txt

,instance,seed,cost,iters,exp,size_group,min_pop_size,generation_size,nb_elite,nb_close,lb_diversity,ub_diversity
0,C1_2_1,1,26986.0,284,1,200,25,40,4,5,0.1,0.5
1,C1_2_10,1,26557.0,264,1,200,25,40,4,5,0.1,0.5
2,C1_2_2,1,26943.0,309,1,200,25,40,4,5,0.1,0.5
3,C1_2_3,1,26784.0,311,1,200,25,40,4,5,0.1,0.5
4,C1_2_4,1,26487.0,205,1,200,25,40,4,5,0.1,0.5

In [ ]:
fields = [
    "min_pop_size",
    "generation_size",
    "nb_elite",
    "nb_close",
    "lb_diversity",
    "ub_diversity",
]

In [ ]:
for field in fields:
    df.cost.groupby([df[field], df["size_group"]]).mean().unstack().plot(subplots=True);

# Analysis

- `min_pop_size` and `generation_size` are important (which makes a lot of sense).
- `nb_elite` and `nb_close` don't matter too much, but I have chosen bad parameter bounds. (This is due to some error when nb_elite and nb_close are smaller than the population size.)
- `lb_diversity` and `ub_diversity` don't seem to matter.

In [9]:
mean_value = df[df.exp == 1].cost.mean()
print(f"{1:>3}  ----  {mean_value:.0f} (default)") 

for exp in range(2, 501):
    data = df[df.exp == exp]

    if data.empty:
        continue
        
    test = stats.ttest_1samp(data.cost, mean_value, alternative='less')
    mean = data.cost.mean()

    if mean <= mean_value and test.pvalue < 0.10:
        print(f"{exp:>3}  {test.pvalue:.2f}  {mean:.0f}")

NameError: name 'df' is not defined

Let's go for experiment 378.

```
[population]
min_pop_size = 5
generation_size = 3
nb_elite = 2
nb_close = 2
lb_diversity = 0.11698396793587175
ub_diversity = 0.34994989979959923
```

## Neighbourhood parameters

In [10]:
dfs = [read("neighbourhood", exp) for exp in range(1, 501)]
df = pd.concat(dfs)
df.head()

,instance,seed,cost,iters,exp,size_group,weight_wait_time,weight_time_warp,nb_granular,symmetric_proximity,symmetric_neighbours
0,C1_2_1,1,26986.0,323,1,200,0.2,1.0,20,True,False
1,C1_2_10,1,26419.0,267,1,200,0.2,1.0,20,True,False
2,C1_2_2,1,26943.0,300,1,200,0.2,1.0,20,True,False
3,C1_2_3,1,26776.0,282,1,200,0.2,1.0,20,True,False
4,C1_2_4,1,26322.0,237,1,200,0.2,1.0,20,True,False

In [ ]:
fields = [
    "weight_wait_time",
    "weight_time_warp",
    "nb_granular",
    "symmetric_proximity",
    "symmetric_neighbours",
]

In [ ]:
for field in fields:
    df.cost.groupby([df[field], df["size_group"]]).mean().unstack().plot(subplots=True);

In [ ]:
mean_value = df[df.exp == 1].cost.mean()
print(f"{1:>3}  ----  {mean_value:.0f} (default)") 

for exp in range(2, 501):
    data = df[df.exp == exp]

    if data.empty:
        continue
        
    test = stats.ttest_1samp(data.cost, mean_value, alternative='less')
    mean = data.cost.mean()

    if mean <= mean_value and test.pvalue < 0.05:
        print(f"{exp:>3}  {test.pvalue:.2f}  {mean:.0f}")

No significant improvements. But it's pretty clear that decreasing the number of neighbours low to 20 is beneficial for the 200 size instances, and doesn't hurt the 400 customer instances.

## Penalty parameters

In [ ]:
dfs = [read("penalty", exp) for exp in range(1, 501)]
df = pd.concat(dfs)
df.head()

In [ ]:
fields = [
    "init_capacity_penalty",
    "init_time_warp_penalty",
    "repair_booster",
    "num_registrations_between_penalty_updates",
    "penalty_increase",
    "penalty_decrease",
    "target_feasible",
]

In [ ]:
for field in fields:
    df.cost.groupby([df[field], df["size_group"]]).mean().unstack().plot(subplots=True);

Is there any significant improvement?

In [ ]:
mean_value = df[df.exp == 1].cost.mean()
print(f"{1:>3}  ----  {mean_value:.0f} (default)") 

for exp in range(2, 501):
    data = df[df.exp == exp]

    if data.empty:
        continue
        
    test = stats.ttest_1samp(data.cost, mean_value, alternative='less')
    mean = data.cost.mean()

    if mean <= mean_value and test.pvalue < 0.05:
        print(f"{exp:>3}  {test.pvalue:.2f}  {mean:.0f}")

Nothing significant here, so we'll keep the default values.

## Node operators

In [ ]:
dfs = [read("node_ops", exp) for exp in range(1, 501)]
df = pd.concat(dfs)
df.head()

In [ ]:
fields = [
    "Exchange10",
    "Exchange11",
    "Exchange20",
    "MoveTwoClientsReversed",
    "Exchange21",
    "Exchange22",
    "Exchange30",
    "Exchange31",
    "Exchange32",
    "Exchange33",
    "TwoOpt",
]

In [ ]:
for field in fields:
    df.cost.groupby([df[field], df["size_group"]]).mean().unstack().plot(subplots=True);

In [ ]:
mean_value = df[df.exp == 1].cost.mean()
print(f"{1:>3}  ----  {mean_value:.0f} (default)") 

for exp in range(2, 501):
    data = df[df.exp == exp]

    if data.empty:
        continue
        
    test = stats.ttest_1samp(data.cost, mean_value, alternative='less')
    mean = data.cost.mean()

    if mean <= mean_value and test.pvalue < 0.05:
        print(f"{exp:>3}  {test.pvalue:.2f}  {mean:.0f}")

None of the scenarios is significant. But only (1, 0) and TwoOpt seem useful. So I'll just run that.

## Route operators

In [ ]:
dfs = [read("route_ops", exp) for exp in range(1, 6)]
df = pd.concat(dfs)
df.head()

In [ ]:
fields = [
    "RelocateStar",
    "SwapStar",
]

In [ ]:
for field in fields:
    df.cost.groupby([df[field], df["size_group"]]).mean().unstack().plot(subplots=True);

In [ ]:
mean_value = df[df.exp == 1].cost.mean()
print(f"{1:>3}  ----  {mean_value:.0f} (default)") 

for exp in range(2, 501):
    data = df[df.exp == exp]

    if data.empty:
        continue
        
    test = stats.ttest_1samp(data.cost, mean_value, alternative='less')
    mean = data.cost.mean()

    print(f"{exp:>3}  {test.pvalue:.2f}  {mean:.0f}")